.taskListWrapper {
  display: table;
  color: var(--gantt-text-color);
  background-color: var(--gantt-background-color);
  border-bottom: var(--gantt-border-color, #e0e0e0) 1px solid;
  border-left: var(--gantt-border-color, #e0e0e0) 1px solid;
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListTableRow:nth-of-type(even) {
  color: var(--gantt-alternate-text-color);
  background-color: var(--gantt-alternate-background-color, #f5f5f5);
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  color: var(--gantt-expander-color, rgb(86, 86, 86));
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0rem 0.2rem;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}
