.ganttTable {
  display: table;
  color: var(--gantt-text-color);
  background-color: var(--gantt-background-color);
  border-bottom: var(--gantt-border-color, #e0e0e0) 1px solid;
  border-top: var(--gantt-border-color, #e0e0e0) 1px solid;
  border-left: var(--gantt-border-color, #e0e0e0) 1px solid;
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid var(--gantt-border-color, #e0e0e0);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  display: table-cell;
  vertical-align: middle;
}
