.calendarBottomText {
  text-anchor: middle;
  fill: var(--gantt-text-color, #333);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: var(--gantt-border-color, #e0e0e0);
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--gantt-alternate-text-color, #555);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: var(--gantt-background-color, #fff);
  stroke: var(--gantt-border-color, #e0e0e0);
  stroke-width: 1.4;
}
